# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [1]:
d = {
    1 : 1,
    2 : 4,
    3 : 9,
    4 : 16,
    5 : 25,
    6 : 36,
    7 : 49,
    8 : 64,
    9 : 81,
    10 : 100
}

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
print(d[5])

25

In [3]:
for i in range(1,11):
    print(d[i])

1
4
9
16
25
36
49
64
81
100

In [4]:
d[11] = 121

In [5]:
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [6]:
del d[1]

In [7]:
print(d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [19]:
keys = d.keys()
values = d.values()

print(keys)
print(values)

l1 = list(keys)
l2 = list(values)
print(l1)
print(l2)

dict_keys([2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
dict_values([4, 9, 16, 25, 36, 49, 64, 81, 100, 121])
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [20]:
#Shallow copy
d_copy = d
print(d)
print(d_copy)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [21]:
d[2] = 8
print(d)
print(d_copy)

{2: 8, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 8, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [ ]:
'''normal copy, if we update one of the key value then 
it will get updated in the copy as well'''

'''If we need a different copy which will not get updated by updating the 
original copy then we will create a shallow copy'''

In [24]:
d_shallow = d.copy() #Shallow copy
d[3] = 27
print(d)
print(d_shallow)

{2: 8, 3: 27, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 8, 3: 27, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [26]:
d[3] = 27
print(d)
print(d_shallow)

{2: 8, 3: 27, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 8, 3: 27, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [27]:
d[4] = 64

In [28]:
print(d_shallow)
print(d)

{2: 8, 3: 27, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 8, 3: 27, 4: 64, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [29]:
for keys in d.keys():
    print(keys)

2
3
4
5
6
7
8
9
10
11

In [30]:
for values in d.values():
    print(values)

8
27
64
25
36
49
64
81
100
121

In [31]:
for keys,values in d.items():
    print(keys,':',values)

2 : 8
3 : 27
4 : 64
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100
11 : 121

In [45]:
#Nested dictionaries

student = {
    'name':'Peter',
    'age':25,
    'Grades':{
        'Maths':'A+',
        'Science':'A',
        'English':'O'
          
      }
}
print(student)

for student_info, student_grade in student.items():
    print(student_info,student_grade)
    print(student_grade)
    print(type(student_grade))

{'name': 'Peter', 'age': 25, 'Grades': {'Maths': 'A+', 'Science': 'A', 'English': 'O'}}
name Peter
Peter
<class 'str'>
age 25
25
<class 'int'>
Grades {'Maths': 'A+', 'Science': 'A', 'English': 'O'}
{'Maths': 'A+', 'Science': 'A', 'English': 'O'}
<class 'dict'>

In [34]:
d_tuple = {
    1 : (1,1),
    2 : (2,4),
    3 : (3,9),
    4 : (4,16),
    5 : (5,25)
}
print(d_tuple)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [46]:
cube = {x:x**3 for x in range(11)}
print(cube)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [47]:
cube1= {x:x**3 for x in range(11,21)}
print(cube1)

{11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000}

In [48]:
numbers = [1,2,2,3,3,3,3,4,4,4,5,5,5,5,6,6]
count = {}
for i in numbers:
    count[i] = numbers.count(i)

print(count)

{1: 1, 2: 2, 3: 4, 4: 3, 5: 4, 6: 2}

In [49]:
numbers = [1,2,2,3,3,3,3,4,4,4,5,5,5,5,6,6]
freq = {}

for i in numbers:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print(freq)

{1: 1, 2: 2, 3: 4, 4: 3, 5: 4, 6: 2}

In [50]:
merged_cube = {**cube,**cube1} #Keyword argument : Argument contains key value pair
print(merged_cube)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000}

In [51]:
multiple = {x:[x*i for i in range(6)] for x in range(6)}
print(multiple)

{0: [0, 0, 0, 0, 0, 0], 1: [0, 1, 2, 3, 4, 5], 2: [0, 2, 4, 6, 8, 10], 3: [0, 3, 6, 9, 12, 15], 4: [0, 4, 8, 12, 16, 20], 5: [0, 5, 10, 15, 20, 25]}

In [52]:
sq = {x:(x,x**2) for x in range(6)}
print(sq)

{0: (0, 0), 1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [56]:
sq1 = {x:x**2 for x in range(6)}
print(sq1)

l = [(x,y) for x,y in sq1.items()]
print(l)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [57]:
sq2 = {x:x**2 for x in range(11)}

for key,value in sq2.items():
    if key % 2 == 0:
        print(key,':',value)

0 : 0
2 : 4
4 : 16
6 : 36
8 : 64
10 : 100

In [58]:
swapped = {}
for key,value in sq1.items():
    swapped[value] = key
print(swapped)

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [60]:
from collections import defaultdict

default_dict= defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)

print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

In [61]:
s = input('Enter a string')

l = s.split()
freq = {}

for i in l:
    freq[i] = l.count(i)
print(freq)

{'akshay': 3, 'santosh': 1, 'rane': 5}

In [63]:
import json
d = {
    1 : 1,
    2 : 4,
    3 : 9,
    4 : 16,
    5 : 25,
    6 : 36,
    7 : 49,
    8 : 64,
    9 : 81,
    10 : 100
}

d_json = json.dumps(d)
print(d_json)
print(type(d_json))

{"1": 1, "2": 4, "3": 9, "4": 16, "5": 25, "6": 36, "7": 49, "8": 64, "9": 81, "10": 100}
<class 'str'>