# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
set1 = set(range(1,11))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
set1.add(11)
set1.remove(2)

In [4]:
set1 = set(range(6))
set2 = set(range(0,6,2))

print(set1)
print(set2)

union_set = set1.union(set2)
intersect_set = set1.intersection(set2)
difference_set = set1.difference(set2)
symmetric_set = set1.symmetric_difference(set2)

print(union_set)
print(intersect_set)
print(difference_set)
print(symmetric_set)

{0, 1, 2, 3, 4, 5}
{0, 2, 4}
{0, 1, 2, 3, 4, 5}
{0, 2, 4}
{1, 3, 5}
{1, 3, 5}

In [5]:
sq_set = {x**2 for x in range(11)}
print(sq_set)

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [6]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

s = {x for x in set1 if x%2 == 0}
print(s)

{2, 4, 6, 8, 10}

In [7]:
set1 = {1,1,2,3,4,4,4,5,6,7,7,8,9}
unique_set = set(set1)
print(unique_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

s1.issubset(s2)
s2.issubset(s1)

s1.issuperset(s2)
s2.issuperset(s1)

False

In [12]:
frozenset_s1 = frozenset(s1)
print(frozenset_s1)

frozenset({1, 2, 3, 4, 5})

In [15]:
print(s1)

lt = list(s1)
lt.append(6)
print(lt)

s1 = set(lt)
print(s1)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [17]:
d = {
    1 : {3},
    2 : {4},
    3 : {5}
}

print(d)

{1: {3}, 2: {4}, 3: {5}}

In [18]:
for i in set1:
    print(i)

1
2
3
4
5
6
7
8
9

In [24]:
s = {1,2,3,4,5,6,7,8,9}

while s:
    s.pop()
    print(s)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

In [25]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

s1.symmetric_difference_update(s2)

print(s1)

{4, 5}

In [28]:
set1 = {1,2,3,4,5}
for i in range(1,8):
    if i in set1:
        print(i, 'is in set set1')
    else:
        print(i, 'is not in set set1')

1 is in set set1
2 is in set set1
3 is in set set1
4 is in set set1
5 is in set set1
6 is not in set set1
7 is not in set set1

In [29]:
set1 = {(1,2),(3,4),(5,6),(7,8)}
print(set1)

{(1, 2), (3, 4), (7, 8), (5, 6)}

In [6]:
l = [1,2,3,4,5,6]
l1 = []
for i in range(len(l),0,-1):
    l1.append(i)
print(l1)

[6, 5, 4, 3, 2, 1]

In [16]:
def is_subset(lst1, lst2):
    # Your code goes here
    is_subset = False
    if len(lst1) > len(lst2):
        for i in lst2:
            lst1.append(i)
            if lst1.count(i) == 2:
                #print(lst1.count(i))
                is_subset = True
            else:
                continue
    else:
        for i in lst1:
            lst2.append(i)
            if lst2.count(i) == 2:
                is_subset = True
            else:
                continue

    if is_subset:
        return True
    else:
        return False

In [19]:
ls1 = [7,8,9]
lst2 = [1,2,3,4,5]
is_subset(ls1, lst2)

False