# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
t = ()
for i in range(1,11):
    t = t + (i,)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
first, *middle, last = t
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [13]:
print(t[:3])
print(t[-1:-4:-1])
print(t[2:5])

(1, 2, 3)
(10, 9, 8)
(3, 4, 5)

In [2]:
t = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

t[1][2]

6

In [3]:
t1 = (1,2,3)
t2 = (4,5,6)

t = t1 + t2
print(t)

(1, 2, 3, 4, 5, 6)

In [6]:
t = (1,2,2,3,4,5,5,6,7,8,8,9,1)

for i in t:
    print(i, t.count(i), t.index(i))

1 2 0
2 2 1
2 2 1
3 1 3
4 1 4
5 2 5
5 2 5
6 1 7
7 1 8
8 2 9
8 2 9
9 1 11
1 2 0

In [9]:
t = (1,2,3,4,5)
a,b,c,d,e = t

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [10]:
t = (1,2,3,4,5)
l = list(t)
print(l)

[1, 2, 3, 4, 5]

In [11]:
t = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [12]:
t = (1,2,3,4,5)
l = list(t)
l.append(6)
t = tuple(l)
print(t)

(1, 2, 3, 4, 5, 6)

In [13]:
t = ('a','k','s','h','a','y')
s = ''
for i in t:
    s = s + i
print(s)

akshay

In [14]:
d = {
    (1,2) : 3,
    (4,5) : 6,
    (7,8) : 9
}

print(d)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [15]:
t = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in t:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [17]:
t = (1,2,2,3,4,5,5,6,7,8,8,9,1)
s = set(t)
print(s)
t = tuple(s)
print(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
t = (11,23,4,5,6,7,8,2,34,56,789,80)

def min(t):
    min = 100000
    for i in t:
        if i < min:
            min = i
        else:
            continue
    return min

def max(t):
    max = 0
    for i in t:
        if i > max:
            max = i
        else:
            continue
    return max

def sum(t):
    sum = 0
    for i in t:
        sum = sum + i
    return sum

print(min(t))
print(max(t))
print(sum(t))

2
789
1025